APP_NAME=Data Research Agent
DEBUG=True
DEV=True
HOST=127.0.0.1
PORT=8000
DEFAULT_MODEL=gpt-4o-mini
OPENAI_API_KEY=
OPENAI_BASE_URL=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com
DATABASE_URL=sqlite+aiosqlite:///resource/research_data.sqlite
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
